<div class=" container">
    
    <div class="col-sm-6">
           <img src="assets/img/fin.jpg" style="border-style:groove;">
    </div>

   

</div>
<div class="text-center">
<br><br><br>
<h2>Management</h2>
</div>

<div class="text-center " style="font-size: 15px ; ">
<p>Using search insight and research data to find out which finance topics customers are struggling to understand is arguably the most powerful starting point when planning finance content.

Breaking down detailed financial information in a creative way means you can directly answer these queries in truly consumer-friendly ways – which is great for users and search engines alike.</p>
</div>

<div class="col-sm-12"> <button mat-button mat-dialog-close>Cancel</button></div>

