<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->



<div class="container">
    <div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;background-color:rgb(237 242 245); ">
            <img src="assets/img/home_image.jpg" class="card-img-top" style="border-style:groove;" >
            <div class="card-body" >
              <h5 class="card-title" style="color: black;">HR Department</h5>
              <div >
              <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-success" (click)="opendialogmanage()">Click here</button>



            </div>
            </div>
          </div>
        </div>



        <div class="col-sm-4">
            <div class="card" style="width: 18rem;background-color:rgb(237 242 245); ">
                <img src="assets/img/home_image.jpg" class="card-img-top" style="border-style:groove;" >
                <div class="card-body">
                  <h5 class="card-title" style="color: black;">Sales</h5>
                  <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button class="btn btn-success" (click)="opendialogsales()">Click here</button>
                </div>
                </div>
              </div>


        <div class="col-sm-4">
            <div class="card" style="width: 18rem;background-color:rgb(237 242 245); ">
                <img src="assets/img/home_image.jpg" class="card-img-top" style="border-style:groove;" >
                <div class="card-body">
                  <h5 class="card-title" style="color: black;">Finance</h5>
                  <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button class="btn btn-success" (click)="opendialog()">Click here</button>
                </div>
              </div>
        </div>
        </div>
    </div>

<!-- <button mat-raised-button (click)="opendialog()">open dialog</button> -->