

<div class="container">
    <div class="row border">
        <br>
        <br>
     
        <div class="col-sm-6 home1"><p>The brand that gave us “Just do it!” qualifies that tagline, which always felt a bit broad, to include boundaries. You can’t “just do it” without regard to the rules, as Knight clearly states. 
        </p></div>
        <div class="col-sm-6 himg">
            <img src="assets/img/emphome.jpg">
        </div>
   
    </div>
     <br><br><br>
    <div class>
        <app-about></app-about>
    </div>

    <div>
        
    </div>

</div>